.popup__container {
  max-width: 754px;
  width: 100%;
  box-sizing: border-box;
  padding: 53px 98px;
  height: 100%;
  border-radius: 12px;
  background-color: #fff;
}

@media screen and (max-width: 650px) {
  .popup__container {
    padding: 25px 50px;
  }
}

@media screen and (max-width: 450px) {
  .popup__container {
    padding: 12px 25px;
  }
}

