.form__submit-button {
  width: 100%;
  background-color: #e5266e;
  border-radius: 4px;
  line-height: 48px;
  cursor: pointer;
  color: #fff;
  margin-top: 50px;
}

.form__submit-button_disabled {
  background-color: #a0a0a0;
  cursor: unset;
}
